# Ignore everything by default
*

# Allow directories to be included so we can selectively whitelist files
!*/

# Whitelist important files
!Makefile
!*.c
!*.h
!*.cub
!*.cpp
!*.sh
!*.md
!*.txt
!*.pdf
!*.png
!*.gif
!*.xpm
!*.zip
!*.tgz
!*.dox
!*.zsh
!Dockerfile
!doxygen-awesome-css
!Doxyfile
!.gitignore
!*.yml

# Ignore specific directories
lib/minilibx-linux/
lib/minilibx_opengl_20191021/
lib/minilibx_mms_20200219/
