# Ignore everything by default
*

# Allow directories to be included so we can selectively whitelist files
!*/

# Whitelist important files
!.gitignore
!*.yml
!Makefile
!*.mk
!*.c
!*.h
!*.cub
!*.cpp
!*.sh
!*.md
!*.txt
!*.pdf
!*.png
!*.gif
!*.xpm
!*.zip
!*.tgz
!*.dox
!*.zsh
!Dockerfile

# doxygen
!doxygen-awesome-css
!Doxyfile
!*.html
!*.css
!*.js
!*.svg
docs/html

# Ignore specific directories
lib/minilibx-linux/
lib/minilibx_opengl_20191021/
lib/minilibx_mms_20200219/
test/
html
